.draggable { 
    width: 100px; 
    height: 50px; 
    padding: 0.5em; 
    float: left; 
    margin: 10px 10px 10px 0; }
.droppable { 
    width: 150px; 
    height: 500px; 
    padding: 0.5em; 
    float: left; 
    margin: 10px;
    border: 1px solid black;
}